/* display div style*/
#diagram
{
	background: #1E4297;
	height:100vh;
	width:100vw;
}
#wrapper {
	  margin-left: 200px;
	}
#content {
	  float: right;
	  width: 100%;
	}
#sidebar {
	  float: left;
	  width: 200px;
	  margin-left: -200px;
	}
#cleared {
	  clear: both;
	}

.content_div {
   overflow:scroll;
}

.input
{
	background: url(/static/images/search-dark.png) no-repeat 10px 6px #333;
	color: #ccc;
	width: 150px;
	padding: 6px 15px 6px 35px;
	border-radius: 15px;
	box-shadow: 0 1px 0 #ccc inset;
	transition:500ms all ease;
}
.input:hover
{
	width:180px;
}	

.output
{
box-shadow:1px 1px 10px #333;
transition: 200ms all ease;
border:none;
padding: 5px 5px;

}

/*
.output:hover
{
margin:-5px 0 0 -5px;
height:29px;
width:250px;
}
*/
body {
	background-color: lightgray;
}


/*table style */
th {
	text-align: left;
}



