<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <title>Anthocyanins</title>
</head>
<body>
<div id="container">
    <div id="mainpic">
        <h1><span class="darkblue">Antho</span><span class="lightblue">cyanins</span></h1>
        <h2>Projectgroep 10</h2>
    </div>
    <div id="menu">
        <ul>
            <li class="menuitem"><a href="/">Home</a></li>
            <li class="menuitem"><a href="/results">Results</a></li>
            <li class="menuitem"><a href="/tutorial">Tutorial</a></li>
        </ul>
    </div>
    <div id="content">
        <h3>ANTHOCYANINS</h3>
        Anthocyanins (also anthocyans; from Greek: ἄνθος (anthos) "flower" and κυάνεος/κυανοῦς kyaneos/kyanous "dark
        blue") are water-soluble vacuolar pigments that may appear red, purple, or blue depending on the pH.
        Food plants rich in anthocyanins include the blueberry, raspberry, black rice and black soybean, among many
        others that are red, blue, purple or black. Some of the colors of autumn leaves also come from anthocyanins.
        Anthocyanins belong to a parent class of molecules called flavonoids synthesized via the phenylpropanoid
        pathway; they are odorless but flavorful, contributing to taste as a moderately astringent sensation.
        Anthocyanins occur in all tissues of higher plants, including leaves, stems, roots, flowers, and fruits.
        Anthoxanthins are clear, white to yellow counterparts of anthocyanins occurring in plants. Anthocyanins are
        derived from anthocyanidins by adding sugars.
        <a href="https://en.wikipedia.org/wiki/Anthocyanin">Wikipedia</a>
        <p>&nbsp;</p>
        <div id="footer"></div>
    </div>
</div>
</body>
</html>