<!DOCTYPE html>
<meta charset="utf-8">

<form>
    <label><input type="radio" name="mode" value="size" checked> Size</label>
    <label><input type="radio" name="mode" value="count"> Count</label>
    <label style="display:block" id="angle"></label>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="/static/scripts/sunburst_script.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/sunburst_style.css"/>
</html>