<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <title>Guide</title>
</head>
<body>
<div id="container">
    <div id="mainpic">
        <h1><span class="aqua">How </span><span class="LightSteelBlue">to</span></h1>
        <h2>Projectgroep 10</h2>
    </div>
    <div id="menu">
        <ul>
            <li class="menuitem"><a href="/">Home</a></li>
            <li class="menuitem"><a href="/results">Results</a></li>
            <li class="menuitem"><a href="/tutorial">Tutorial</a></li>
        </ul>
    </div>
    <div id="content">
        <h3>GUIDE</h3>
        This website shows the results of our text mining application. If you head over to the <b>Results</b> tab, you
        will be able to select a way of visualisation.<br>
        The results can either be visualised in a sunburst diagram or a tree. More specification can be read below. <br>
        <br> <img src="\static\images\sunburst.jpg" alt="Sunburst" style="float:right;width:256px;height:256px;">
        Visualisation can be displayed in 2 ways.<br><br>
        <b>Option 1: Sunburst diagram</b><br>
        This diagram consists of three connected layers of circles. <br>
        Layer 1, as shown in the red circle on the right, displays the organisms having Anthocyanins.<br>
        Layer 2, as shown in the black circle on the right, displays the stress conditions per organism.<br>
        Layer 3, as shown in the yellow circle on the right, displays the genes found per stress condition.<br>
        <i>*The circles are indicative and not part of actual sunburst </i><br>
        <br>
        You can click an entity (organism, condition or gene) and the sunburst will zoom in, showing more specific
        information about this item.

        <br><br>
        <b>Option 2: Tree diagram</b><br>
        This diagram is a tree (see image below) where again the first node shows the organisms found, this then
        branches
        out to show what stress conditions were found for this organism and again the tree branches out from the stress
        conditions to show per condition what genes are involved here.
        <br><br>
        <img src="\static\images\tree.jpg" alt="tree" style="float:left;width:492px;height:245px;">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


        <p>&nbsp;</p>
        <div id="footer"></div>
    </div>
</div>
</body>
</html>