<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" type="text/css" href="static/css/style.css" />
      <title>Guide</title>
   </head>
   <body>
      <div id="container">
         <div id="mainpic">
            <h1><span class="aqua">How </span><span class="LightSteelBlue">to</span></h1>
            <h2>Projectgroep 11</h2>
         </div>
         <div id="menu">
            <ul>
               <li class="menuitem"><a href="/">Home</a></li>
               <li class="menuitem"><a href="/results">Results</a></li>
               <li class="menuitem"><a href="/tutorial">Tutorial</a></li>
            </ul>
         </div>
         <div id="content">
            <h3>GUIDE</h3>
             This website shows the results of our text mining application, these results can be visualised in 2 different diagrams. The first is a
             sunburst diagram which consists of three connected circles, the first circle contains the organisms, the second circle the stress conditions found per organism
             and the third circle the genes found per stress condition. The second diagram is a tree where again the first node shows the organisms found, this then branches
             out to show what stress conditions were found for this organism and again the tree branches out from the stress conditions to show per condition what genes are involved here.
             <br>
             For the sunburst diagram you can click on a specific item (organism, condition or gene) and a table will show you some more specific information about this item.

            <p>&nbsp;</p>
            <div id="footer"></div>
         </div>
      </div>
   </body>
</html>